@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Finder</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
 
  
       <!--
       <header class="id7-masthead">
       
       </header>
           -->
      
    <nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="~/Content/masthead-w.svg" width="70" height="40" style="margin-top:-17px"/>
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                     
                </button>
            </div>
           </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                  <li>@Html.ActionLink("Search skills", "Index", "Profile")</li>
                    <li><a href="/profile/#/graph">Graph</a></li>
                    <!--
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                     -->
@if (Request.IsAuthenticated)
{
                    <li>@Html.ActionLink("My profile", "Index", "MyProfile", routeValues: null, htmlAttributes: new { title = "My profile" })</li>
}
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
      
    </nav>
   <div class="container">
        @RenderBody()

 </div>
  

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @RenderSection("scripts", required: false)
</body>
</html>
